<%- include header %>
<div class="xc-ban-titile layui-hide-xs" style="background-image: url('<%=STATIC_HOST%>/public/upload/banner/commen/banner_about.jpg');">
	<h1 class="txtcenter"><span>公司简介 / About US</span></h1>
</div>
<div class="layui-container xc-section site-content">
    <div class="xc-section site-text">
        <h1 class="site-big-title layui-word-aux"><span>公司介绍</span></h1>
        <p class="text-indent-2em">杭州协创实业有限公司是一家以汽车备件仓储管理，物流配送服务，汽车备件信息技术服务为主营业务，辅以整车销售的集团控股公司。其实际管理和控股多家公司给全国各大主机厂提供专业的区域售后备件仓储与物流配送服务。公司为各汽车品牌提供专业的汽车售后备件保障服务，有着丰富的汽车备件仓储和物流管理经验。对全国的汽车市场具有较为扎实的汽车备件仓储及配送服务运作经验。其中所管理的中心库连续多年位居全国服务榜首。
        </p>
    </div>
    <div class="xc-section site-text">
        <div style="background-image: url('<%=STATIC_HOST%>/public/upload/banner/commen/banner_staff.jpg');background-position: center;background-size: cover;width: 100%;height: 240px"></div>
    </div>
    <div class="xc-section site-text">
            <h1 class="site-big-title layui-word-aux"><span>经营理念</span></h1>
            <p class="text-indent-2em">公司以“诚信、专业、服务、创新”为经营理念。倾力打造个性化服务品牌，为汽车厂家提供全方位、专业化的售后备件服务。</p>
        </div>
    <div class="xc-section site-text">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md3 layui-col-sm6">
                    <div class="layui-bg-red xc-panel txtcenter" style="line-height:120px; height:120px; font-size:30px">诚信</div>
                </div>
                <div class="layui-col-md3 layui-col-sm6">
                    <div class="layui-bg-orange xc-panel txtcenter" style="line-height:120px; height:120px; font-size:30px">专业</div>
                </div>
                <div class="layui-col-md3 layui-col-sm6">
                    <div class="layui-bg-blue xc-panel txtcenter" style="line-height:120px; height:120px; font-size:30px">服务</div>
                </div>
                <div class="layui-col-md3 layui-col-sm6">
                    <div class="layui-bg-cyan xc-panel txtcenter" style="line-height:120px; height:120px; font-size:30px">创新</div>
                </div>
            </div>
    </div>
    <div class="xc-section site-text">
        <h1 class="site-big-title layui-word-aux"><span>企业使命</span></h1>
        <p class="text-indent-2em">用最短的备件供货周期，及时满足顾客需求（高供应率），最大化提升售后服务满意度和优化库存带来的低库存金额，以获得良好的营业收益。</p>
    </div>
    <h1 class="site-big-title layui-word-aux"><span>服务品牌</span></h1>
    <div class="xc-section site-text">
        <% try{
            let data = cooperator.data;
            for(let i = 0; i < data.length; i++){%>
                <div class="layui-col-xs6 layui-col-sm4 layui-col-md2 xc-firends-box">
                    <img class="" alt="<%= data[i].name %>" style="width: 100%; height: 100%" src="<%=STATIC_HOST + data[i].img_src %>" data-holder-rendered="true">
                    <a class="xc-pos-abs txtcenter xc-firends-text" href="<%= data[i].url %>" target="_blank"><%= data[i].name %></a>
                </div> 
        <% }}catch(err){
            console.error(err.message);
         }%>
    </div>
</div>
<%- include footer %>