<%- include header %>
<div class="layui-container site-content txtcenter">
    <div class="xc-panel">
        <h1><i class="layui-icon" style="font-size:350px;line-height:350px">&#xe61c;</i></h1>
        <h1 style="font-size: 30px;margin: 20px 0;color: #888;line-height: 30px;"><%- error.message%></h1>
    </div>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>
<%- include footer %>