<footer class="">
    <div class="linear-line"></div>
    <div class="layui-container">
        <div class="layui-row layui-show-md-block layui-hide-sm">
            <div class="layui-col-md4 layui-col-sm6">
                    <h3 class="xc-item-title">联系我们</h3>
                    <% try{%>
                    <p><%= XC.CELL%></p>
                    <p><%= XC.EMAIL%></p>
                    <p><%= XC.ADDRESS%></p>
                    <%}catch(err){
                        console.error(err.message);
                     }%>
            </div>
            <div class="layui-col-md4 layui-col-sm6">
                <div class="layui-col-md6">
                    <h3 class="xc-item-title">经营业务</h3>
                    <p><a href="javascript:void(0);">4S店</a></p>
                    <p><a href="javascript:void(0);">修理厂</a></p>
                    <p><a href="javascript:void(0);">网络销售平台</a></p>
                    <p><a href="javascript:void(0);">配件仓储与配送</a></p>
                </div>
            </div>
            <div class="layui-col-md4">
                <h2 class="txtright">
                    <img src="<%=STATIC_HOST%>/public/upload/commen/csh_weixin_516.jpg" width="129" height="129">
                    <img src="<%=STATIC_HOST%>/public/upload/commen/xc_weixin_258.jpg" width="129" height="129">
                </h2>
            </div>
        </div>
        <div class="layui-row txtcenter">
            <% try{%>
            <p>Copyright © 2017 杭州协创实业有限公司 All Rights Reserved.</p>
            <p><%- XC.ICP %></p>
            <%}catch(err){
                console.error(err.message);
             }%>
        </div>
    </div>
</footer>
</body>
<script src="<%=STATIC_HOST%>/public/layui/layui.js"></script>
<script src="<%=STATIC_HOST%>/public/js/xc.js"></script>
</html>