<footer class="">
    <div class="layui-container">
        <div class="layui-row layui-show-md-block layui-hide-sm">
            <div class="layui-col-md4 layui-col-sm6">
                    <h3 class="xc-item-title">杭州协创实业有限公司</h3>
                    <% try{%>
                    <p><%= XC.CELL%></p>
                    <p><%= XC.EMAIL%></p>
                    <p><%= XC.ADDRESS%></p>
                    <%}catch(err){
                        console.error(err.message);
                     }%>
            </div>
            <div class="layui-col-md4 layui-col-sm6">
                    <h3 class="xc-item-title">友情链接</h3>
                    <% try{
                        let data = friendLink.data;
                        for(let i = 0; i < data.length; i++){
                    %>
                    <a class="xc-link" href="<%=data[i].url.href%>" target="<%=data[i].url.target%>"><%=data[i].name%></a>
                    <%}}catch(err){
                        console.error(err.message);
                    }%>
            </div> 
            <div class="layui-col-md4">
                <h2 class="txtright">
                    <% try{
                        let data = qrCode.data;
                        %>
                    <div class="layui-inline">
                            <img src="<%=STATIC_HOST + data.csh.imgSrc%>" width="129" height="129">
                            <p class="txtcenter"><%=data.csh.title%></p>
                    </div>
                    <div class="layui-inline">
                            <img src="<%=STATIC_HOST + data.xc.imgSrc%>" width="129" height="129">
                            <p class="txtcenter"><%=data.xc.title%></p>
                    </div>
                    <%}catch(err){
                        console.error(err.message);
                     }%>   
                </h2>
                
            </div>
        </div>
        <div class="layui-row txtcenter">
            <% try{%>
            <p>Copyright © 2017 杭州协创实业有限公司 All Rights Reserved.</p>
            <p><%- XC.ICP %></p>
            <%}catch(err){
                console.error(err.message);
             }%>
        </div>
    </div>
</footer>
</body>
<script src="<%=STATIC_HOST%>/public/layui/layui.js"></script>
<script src="<%=STATIC_HOST%>/public/js/xc.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script>        
        var mySwiper = new Swiper ('#xc-swiper-shopping', {
          direction: 'horizontal',
          loop: true,
          autoplay:1,
          speed:5000,
        //   freeMode : true,
          slidesPerView : 4,
          spaceBetween : 10,
          autoplayDisableOnInteraction : false,
          
          // 如果需要前进后退按钮
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
        })        
        </script>
</html>