<%- include('public/head') %>
<!-- 网页全局背景div -->
<div style="background-size: cover;background-color: #fefefe;position: fixed;z-index: -1;left: 0;top: 0;width: 100%;height: 100%;background-image: url(<%=STATIC_HOST +g.globalBgImg%>)"></div>
<!-- 网页全局背景div end-->
<header id="headertest" class="layui-header xc-header"style="height:auto;">
    <!-- 头部背景图 -->
    <div style="top: 0;position: absolute;width: 100%;height: 122px;left: 0;background-position: center 80%;
    background-image: url(<%=STATIC_HOST + g.headBgImg%>);"></div>
    <!-- 头部背景图 end-->
        <div class="layui-container layui-row" style="">
                <%try{%>
            <a class="logo" href="/" style="">
                <img src="<%=STATIC_HOST + XC.LOGO_IMG%>" height="120px;"/>
            </a>
            <img class="layui-show-md-inline-block layui-hide-sm" src="<%=STATIC_HOST + XC.TELL_IMG%>" style="float:right;margin-top:40px"/>
            <%}catch(err){
                console.error(err.message);
             }%>
        </div>
        <div class="layui-row" style="background-color: rgb(215, 5, 5);">    
        <div class="layui-container" style="">
            <ul class="layui-nav xc-nav" lay-filter="" style="">
                <%try{
                    for(let i = 0; i < navs.data.length; i++){
                        let clazz = i === 0 ? 'layui-this':'';
                %>
                <li class="layui-nav-item <%=clazz%>">
                    <a href="<%=navs.data[i].url.href%>" target="<%=navs.data[i].url.target%>"><%=navs.data[i].name%></a>
                    <%if(navs.data[i].children && navs.data[i].children.length > 0){
                        let subnavs = navs.data[i].children;
                    %>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <%for(let j = 0; j < subnavs.length; j++){%>
                        <dd><a href="<%=subnavs[j].url.href%>" target="<%=subnavs[j].url.target%>"><%=subnavs[j].name%></a></dd>
                        <%}%>
                    </dl>
                    <%}%>
                </li>
                <%}}catch(err){
                    console.error(err.message);
                 }%>
            </ul>
        </div>
    </div>
    </header>