<%- include header %>
<div class="xc-ban-titile layui-hide-xs" style="background-image: url('<%=STATIC_HOST%>/public/upload/banner/commen/banner_contact.jpg');">
	<h1 class="txtcenter"><span>诚聘精英 / Join US</span></h1>
</div>
<div class="layui-container">
    <h1 class="site-big-title layui-word-aux"><span>协同并进,共创未来</span></h1>
    <div class="xc-section">
        <p></p>
    </div>
    <div class="xc-section">
            <%try{
                let data=jobs.data;
                
                %>
            <div class="layui-collapse" style="border-color: rgb(215, 5, 5);">
                <%for(let i = 0; i < data.length; i++){
                    <!-- let clazz = i == 0 ? 'layui-show':''; -->
                    let = clazz = 'layui-show';%>
                <div class="layui-colla-item">
                  <h2 class="layui-colla-title" style="    background-color: rgb(215, 5, 5);color:#fbfbfb"><%= data[i].name %>(<%= data[i].jobAddr%>)</h2>
                  <div class="layui-colla-content <%=clazz%>">
                    <h3 class="" style="font-size:20px"><%-data[i].zhineng.title%></h3>
                    <%- data[i].zhineng.desc%>
                    <h3 style="font-size:20px"><%-data[i].yaoqiu.title%></h3>
                    <%- data[i].yaoqiu.desc%>
                    <h1 class="site-big-title" style="font-size:20px"><%-data[i].email%></h1>
                  </div>
                </div>
                <%}%>
              </div>
              <% }catch(err){
                console.error(err.message);
             }%>
    </div>
</div>
<%- include footer %>