<div class="layui-row layui-col-space20">
    <% try{
        let data = buss.data,
            len  = data.length;
            %>
        <h1 class="site-big-title layui-word-aux"><span><%=buss.title%></span></h1>
        <%
    for(let i = 0; i < len; i++){
        let posx = '0px', posy = -60*i + 'px';
        let pos = (-60*i)+'px';
%>
<div class="layui-col-md4 layui-col-sm4">
        <div class="xc-buss-box txtcenter">
            <a class="xc-link" style="display:block" href="<%-data[i].url%>">
            <div class="xc-buss-bg" style="background-image:url(<%=STATIC_HOST +  data[i].bg_img_src%>);<%=data[i].style%>">
                </div>
                <div class="layui-elip xc-buss-title">
                        <%= data[i].title%>
                    </div>
            <div class="text-indent-2em xc-buss-content">
                <%= data[i].detail%>
            </div>
        </a>
        </div>
    </div>
            <% }}catch(err){
    console.error(err.message);
 }%>
</div>